@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
h1 {
  font-family: "Prompt", sans-serif;
}
h2 {
  font-family: "Prompt", sans-serif;
}
h3 {
  text-align: start;
  font-family: "Prompt", sans-serif;
}

h4 {
  text-align: initial;
  font-family: "Prompt", sans-serif;
}
